* {
  background-color: black;
  font-family: Red Rose;
}
@media screen and (max-width: 1920px) {
  button {
    cursor: pointer;
    font-weight: 500;
    font-family: montserrat;
  }
  .divtitle {
    display: flex;
    justify-content: center;
  }
  .gaicos {
    font-size: 40px;
    letter-spacing: 12px;
    color: #181818;
    font-weight: 800;
  }
  .alldiv {
    height: 100%;
  }

  .divsubtitle {
    display: flex;
    justify-content: center;
  }
  .alldivsub {
    height: 100%;
  }
  .sub {
    font-size: 54px;
    text-align: center;
    width: 60%;
    letter-spacing: 2px;
    color: #a77f1c;
    line-height: 9vh;
    opacity: 0.7;

    font-weight: 200;
  }
  .divdescription {
    height: 37vh;
    display: flex;
    flex-direction: column;
    align-items: Center;

    text-align: center;
  }
  .divbtnon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .online {
    width: 400px;
    font-size: 18px;
    background-color: #f0f0f2;
    border: none;
    height: 6vh;
    border-radius: 5px;
    color: #343434;
    letter-spacing: 3px;
  }

  .divanel {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100%;
    margin: 8rem;
    margin-top: 11rem;
  }
  .subanel {
    font-size: 23px;
    width: 580px;
    font-weight: 300;
    color: #a1a1a1;

    letter-spacing: 2px;
    line-height: 4vh;
    margin-bottom: 0;
    font-family: Montserrat;
  }
  .price {
    font-size: 42px;

    font-weight: 100;
    letter-spacing: 5px;
    color: #f0f0f2;
    line-height: 9vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 10vh;
    font-family: "Sen";
  }
  .btnbuy {
    width: 380px;
    height: 6vh;

    font-size: 18px;
    color: #343434;
    letter-spacing: 4px;

    border: none;

    border-radius: 5px;
    letter-spacing: 3px;

    background-color: #f0f0f2;
  }
  @keyframes leaves {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
  .img1 {
    width: 400px;
    animation: leaves 3s ease-in-out infinite alternate;
    -webkit-animation: leaves 3s ease-in-out infinite alternate;
  }
  .img2 {
    width: 400px;
    animation: leaves 3s ease-in-out infinite alternate;
    -webkit-animation: leaves 3s ease-in-out infinite alternate;
  }
  .img3 {
    width: 400px;
    animation: leaves 3s ease-in-out infinite alternate;
    -webkit-animation: leaves 3s ease-in-out infinite alternate;
  }
  .subdiv {
    display: flex;
    justify-content: center;
  }
  .subpromo {
    letter-spacing: 2px;
    font-size: 54px;
    width: 1000px;
    text-align: center;
    font-weight: 200;
    line-height: 9vh;

    color: #a77f1c;
    opacity: 0.8;
  }
  .divpromo {
    height: 100%;
  }
  .clickpromo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .btnpromo {
    width: 370px;
    font-size: 18px;
    background-color: #f0f0f2;
    border: none;
    border-radius: 5px;
    height: 6vh;

    letter-spacing: 3px;
    color: #545454;
  }
  .textpromo {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #a1a1a1;
    font-family: Red Rose;
  }
  .divinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    height: 100%;
  }
  .icons {
    color: #a1a1a1;
    font-size: 50px;
    background-color: transparent;
  }
  .iconwpp {
    font-size: 30px;
    background-color: transparent;
  }
  .divprice {
    display: flex;
    align-items: Center;
    gap: 0.5rem;
  }
  .rs {
    font-size: 28px;
    font-weight: 100;
    color: #a1a1a1;
    font-family: "Sen";
    letter-spacing: 5px;
  }
  .divinfowpp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    margin-bottom: 5rem;
  }
  .allinfo {
    height: 100%;
  }
  .infos {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    color: #a1a1a1;
    font-family: Red Rose;
  }
  .wppimg {
    width: 50px;
  }
  .btnwpp {
    width: 280px;
    font-size: 18px;

    border: none;
    border-radius: 5px;
    height: 6vh;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    color: #545454;
    background-color: #f0f0f2;
  }
}
@media screen and (max-width: 1700px) {
  .sub {
    font-size: 50px;
    width: 1050px;
    line-height: 8vh;
  }
}

@media screen and (max-width: 1400px) {
  .img1 {
    width: 350px;
  }
  .img2 {
    width: 330px;
  }
  .img3 {
    width: 390px;
  }
}
@media screen and (max-width: 1300px) {
  .sub {
    font-size: 40px;
    width: 850px;
    line-height: 6vh;
  }
  .subpromo {
    font-size: 40px;
    line-height: 6vh;
    width: 700px;
  }
  .textpromo {
    font-size: 23px;
  }
}

@media screen and (max-width: 1200px) {
  .divanel {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
    margin-top: 4rem;
  }
  .divbtnon {
    margin-bottom: 10rem;
  }
  .alldiv {
  }
  .img3 {
    width: 280px;
  }
}
@media screen and (max-width: 1100px) {
  .sub {
    font-size: 30px;
    width: 650px;
    line-height: 5.5vh;
  }
  .subpromo {
    font-size: 30px;
    width: 650px;
    line-height: 5.5vh;
  }

  .online {
    width: 370px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 800px) {
  .sub {
    font-size: 20px;
    width: 470px;
    line-height: 4.5vh;
  }
  .subpromo {
    font-size: 20px;
    width: 470px;
    line-height: 4.5vh;
  }
  .infos {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 600px) {
  .img1 {
    width: 200px;
  }
  .img2 {
    width: 170px;
  }
  .img3 {
    width: 150px;
  }
  .btnbuy {
    width: 340px;
    font-size: 18px;
  }
  .subanel {
    font-size: 18px;
    width: 370px;
    line-height: 3.5vh;
    font-weight: 400;
  }
  .gaicos {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 500px) {
  .subpromo {
    font-size: 22px;
    letter-spacing: 1px;
    width: 380px;
    font-weight: 400;
    opacity: 0.7;
  }
  .textpromo {
    font-size: 19px;
    font-weight: 400;
  }
  .infos {
    font-size: 19px;
    font-weight: 400;
  }
  .divbtnon {
    margin-bottom: 10rem;
  }
  .sub {
    font-size: 22px;
    letter-spacing: 1px;
    width: 350px;
    font-weight: 400;
    opacity: 0.7;
  }
  .btnpromo {
    width: 340px;
  }
}
